<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <h1 class="display-4 text-success mb-4">
        <i class="fas fa-seedling"></i> レシピの内容をチェック
      </h1>

      <!-- 部分テンプレート読み込み -->
      <%= render partial: "recipe", locals: { recipe: @recipe, full: true } %>

      <!-- 編集・削除・戻るボタン -->
      <div class="d-flex justify-content-between flex-wrap mt-4 gap-2">

        <% if user_signed_in? && current_user == @recipe.user %>
          <%= link_to edit_recipe_path(@recipe), class: "btn btn-outline-success mb-2" do %>
            <i class="fas fa-edit"></i> 内容を編集する
          <% end %>
      
          <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: "このレシピを本当に削除しますか？" }, class: "btn btn-outline-danger mb-2" do %>
            <i class="fas fa-trash-alt"></i> 削除する
          <% end %>
        <% end %>
  
        <%= link_to recipes_path, class: "btn btn-secondary mb-2" do %>
          <i class="fas fa-arrow-left"></i> 一覧に戻る
        <% end %>
      </div>

    </div>
  </div>
</div>
